@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
li,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

a {
  font-weight: 400;
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: #ffd700;
}

h3,
h4 {
  font-weight: 400;
}

button:focus {
  outline: 0;
}

.inner-wrapper {
  max-width: 1024px;
  margin: 48px auto;
}

.inner-wrapper.narrow {
  max-width: 768px;
}

.flex-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .flex-info {
    flex-direction: column;
  }
}

.map-iframe {
  border: 0;
}

.no-button {
  border: none;
  background: transparent;
}

.button-link-container {
  margin: 24px 0 32px 0;
}

.button-link {
  background: #ffd700;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 12px 0;
}

.button-link:hover {
  color: #ffd700;
  background: black;
}
